@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@/css/_input.css");
@import url("@/css/_loading.css");
@import url("@/css/_button.css");

body {
    min-height: 100vh;
}

.admin-sidebar a.active {
    @apply bg-white text-gray-950
}

.user-sidebar a.active {
    @apply bg-gray-50/20
}

td:first-child, th:first-child {
    border-right-style: solid;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}
td:last-child, th:last-child {
    border-left-style: solid;
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
}