
select,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
    @apply block w-full mb-4 rounded-full;
    @apply border p-2 border-gray-300 bg-gray-200;
}
select:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
textarea:disabled {
    @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}
input:active,
input:target,
input:focus,
input:focus-visible {
    @apply border-primary
}
textarea {
    @apply rounded-2xl
}

label {
    @apply text-gray-500 text-sm mr-1
}